pymysql~=1.0.2
asyncio~=3.4.3
requests~=2.27.1
discord~=2.2.3
python-dotenv~=0.20.0
#pytube~=15.0.0
#pytube @ git+https://github.com/Federico-German/pytube-fixed
#pytubefix==3.0.0
pytubefix @ git+https://github.com/kitchenthinker/pytubefix_regex_patch
aiohttp~=3.8.1
beautifulsoup4~=4.11.1
