pymysql~=1.0.2
asyncio~=3.4.3
requests~=2.27.1
discord~=2.2.3
python-dotenv~=0.20.0
#pytube~=15.0.0
pytube @ git+https://github.com/Federico-German/pytube-fixed
aiohttp~=3.8.1
beautifulsoup4~=4.11.1
flask~=3.0.1
gunicorn==20.1.0
